---
title: 关于我们
date: 2019-06-03 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
	<!-- BEGIN CONTENT -->
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="row margin-bottom-30">
				<!-- BEGIN INFO BLOCK -->
				<div class="col-md-7">
					<p>
						我们来自产业界和学术界，对Chisel作为硬件建构语言以及它应用上的可能性有浓厚的兴趣。<br>
						我们旨在建立一个开放的Chisel中文社区，通过Chisel作为起始点，进而研究学习芯片架构设计方法以及最新进展。
					</p>
					<!-- BEGIN LISTS -->
					<div class="row front-lists-v1">
						<div class="col-md-6">
							<ul class="list-unstyled margin-bottom-20">
								<li><i class="fa fa-check"></i> 推广Chisel</li>
								<li><i class="fa fa-check"></i> 学习Chisel </li>
								<li><i class="fa fa-check"></i> Chisel项目开发 </li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list-unstyled">
								<li><i class="fa fa-check"></i> 促进对集成电路芯片架构研究</li>
								<li><i class="fa fa-check"></i> 促进集成电路上下游的信息交流 </li>
								<li><i class="fa fa-check"></i> 促进产业界和学术界的交流 </li>
							</ul>
						</div>
					</div>
					<!-- END LISTS -->
				</div>
				<!-- END INFO BLOCK -->

				<!-- BEGIN CAROUSEL -->
				<div class="col-md-5">
						<img class="img-responsive" src='../chisel/assets/pages/img/about/circuit.jpg'>
				</div>
				<!-- END CAROUSEL -->
			</div>

			<div class="row margin-bottom-40">
				<!-- BEGIN TESTIMONIALS -->
				<div class="col-md-7 testimonials-v1">
					<h1>建站原则：</h1>
					<div>
						<ul class="list-unstyled margin-bottom-20">
							<li><i class="fa fa-flag"></i> 网站和社区坚持非盈利，共创原则，欢迎所有人的贡献。</li>
							<li><i class="fa fa-flag"></i> 文章版权归创作者所有，转载或者商业用途需经创作者同意。</li>
							<li><i class="fa fa-flag"></i> 网站和社区鼓励线上线下交流。</li>
						</ul>
					</div>
				</div>
				<!-- END TESTIMONIALS -->

				<!-- BEGIN PROGRESS BAR -->
				<div class="col-md-5 front-skills">
					<h3 class="block">目前进展：</h3>
					<span>进展 50%</span>
					<div class="progress">
						<div role="progressbar" class="progress-bar" style="width: 50%;"></div>
					</div>
					<span>Chisel学习资料 0%</span>
					<div class="progress">
						<div role="progressbar" class="progress-bar" style="width: 0%;"></div>
					</div>
					<span>芯片架构学习资料 0%</span>
					<div class="progress">
						<div role="progressbar" class="progress-bar" style="width: 0%;"></div>
					</div>
					<span>其他 5%</span>
					<div class="progress">
						<div role="progressbar" class="progress-bar" style="width: 5%;"></div>
					</div>					
				</div>
				<!-- END PROGRESS BAR -->
			</div>

			<div class="row front-team">
				<div class="col-md-12 col-sm-12">
					<h1>社区维护人员：</h1>
					<ul class="list-unstyled">
						<li class="col-md-3">
							<div class="thumbnail">
								<!-- <img src='../metronic/assets/pages/img/people/img2-large.jpg'> -->
								<h3>
									<strong>董事</strong>
									<small>Board</small>
								</h3>
								<p>在芯片设计领域有资深的经验，对本社区的发展提供资源和方向性意见。</p>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail">
								<!-- <img src='../metronic/assets/pages/img/people/img1-large.jpg'> -->
								<h3>
									<strong>版块管理员</strong>
									<small>Administrator</small>
								</h3>
								<p>参与网站和论坛相应版块的管理，希望每周能够贡献4-5小时的时间。</p>

							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail">
								<!-- <img src='../metronic/assets/pages/img/people/img3-large.jpg'> -->
								<h3>
									<strong>技术评审</strong>
									<small>Reviewer</small>
								</h3>
								<p>在相应领域有相关经验，对网站或论坛上的文章进行指正工作。</p>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail">
								<!-- <img src='../metronic/assets/pages/img/people/img5-large.jpg'> -->
								<h3>
									<strong>志愿者</strong>
									<small>Volunteer</small>
								</h3>
								<p>欢迎任何人以任何形式参加，可以在github上发pull request或者在讨论区发表建议。</p>
								<!-- <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>-->
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="row front-team">
					<div class="col-md-12 col-sm-12">
						<h1>支持我们：</h1>
						由于本网站刚成立，欢迎给与我们任何形式的支持，包括支持服务器费用，参与网站和论坛建设，谢谢！
					</div>
			</div>

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->